<h4><h5><h1><h2><h3><style>*{
  background:#FEFAE0;
}h4,h5,h1,h2,h3{
  background:#9CCCDB;
  height:220;
  width:220;
  border-radius:50%;
  margin:40+82;
}h5{
  border:50px solid #FEFAE0;
  height:80;
  width:80;
  margin:-240+102;
}h1,h2,h3{
  height:100;
  width:20;
  border-radius:0;
  margin:60+182;
}h2{
  rotate:60deg;
  margin:-100+147;
}h3{
  rotate:-60deg;
  margin:-100+217;
}
