<p><h1><style>*,p{
  background:#F0CD48;
}p,h1{
  border-radius:99px 99px 0 0;
}p{
  border:40px solid #66284A;
  height:120;
  width:120;
  margin:50+92;
}h1{
  height:80;
  width:40;
  margin:-170+172;
  background:#66284A;
}
