<p><h1><h2><style>*{
  background:#A9C482;
}p{
  background:#2D696F;
  height:200;
  width:40;
  margin:120+52;
  box-shadow:240px -150px #2D696F
}h1,h2{
  border:40px solid #2D696F;
  height:50;
  width:80;
  border-radius:90px 90px 0 0;
  margin:-400+52;
  border-bottom:0
}h2{
  rotate:180deg;
  margin:440+172
}
