<p><h1><style>*,h1{
  background:#FEFAE0
}p{
  background:#9CCCDB;
  height:160;
  width:30;
  margin:150+57;
  -webkit-box-reflect:right 210px
}h1{
  border:30px solid#9CCCDB;
  height:60;
  width:60;
  margin:-370+57;
  border-radius:50%;
  -webkit-box-reflect:right 30px
}
