<p c><p l><p m><p n><p o><style>*{
  background:#8647E6
}[c]{height:200px;
  width:200px;
  background:#EFEB99;
  border-radius:50%;
  margin:50+92
}[l],[m]{
  height:150px;
  width:20px;
  background:#8647E6;
  margin:-200+142
}[m]{
  margin:-80+222
}[n],[o]{
  height:20px;
  width:150px;
  background:#8647E6;
  margin:60+92
}[o]{
  margin:-160+150
}
