<p a><p b><p c><style>*{
  background:#ED6A9D;
}[a],[b],[c]{
  background:#050044;
  height:150;
  width:100;
  border-radius:49px 25px 25px 50px;
  margin:75+82;
}[b]{
  margin:-225+202;
  border-radius:25px 50px 50px 25px;
}[c]{
  height:20;
  width:40;
  margin:140+174;
}
