<p><p><p a><style>*{
    background:#3C31A0;
}p{
    background:#E5DDD9;
    height:50;
    margin:125-10;
}p+p{
    rotate:90deg;
    margin:-170-10;
}[a]{
    background:transparent;
    height:150;
    width:150;
    border:50px solid #3C31A0;
    margin:15+67;
}
