<p a><p b><p c><p d><style>*,[c]{
  background:#8D1C24;
}[a],[b]{
  background:#EC9140;
  height:40;
  margin:130-10;
}[b],[c]{
  height:300;
  width:220;
  margin:-300+82;
}[c]{
  width:140;
  margin:-300+122;
}[d]{
  background:#EC9140;
  height:60;
  width:60;
  border-radius:50%;
  margin:120+162;
}
